spring:
  datasource:
    url : jdbc:h2:tcp://localhost/~/anything2
    username : sa
    password :
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
#        show_sql: true 로그를 sysout으로 찍는거
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug  #로거로 찍는거

server :
  port : 8090